* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}


ul.gallery{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

ul.gallery li {
    margin: 0;
    padding: 0;
}

ul.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    display: block;
    transform: scale(1);
    transition: all ease .3s;
}

ul.gallery img:hover {
    transform: scale(.95);
}